html
  head
    block scripts
        //This is where scripts go
    block css
        link(rel="stylesheet", type="text/css", href="/static/css/reset.css")
        link(rel="stylesheet", type="text/css", href="/static/css/base.css")
  body.basePage
    .content-header
        h2 Nick Schultz
        h3 Web Developer, Sports Fanatic, Midwest Afficianado
    .main-content
        block content