extends ../base/bootstrap_base

block content
    h1 Forming Opinions

    p Since I graduated college I've had a lot of interesting conversations.  That's not to say that I didn't have those conversations in college.  It is to say that at Swarthmore you were supposed to have thoughtful, meaningful conversations about things like patriarchy and process transparency in addition to debates about all of the great literature, research and scholarly opinions that you were studying in class.  Not only did I converse in class about ideas gleaned from my readings, but I wrote papers in which I could sit down and think about my personal opinions and put them down in writing.  As people I went to school with may know, I didn't spend every waking moment in the library, but I spent enough time for my ideas and beliefs to be formed and then recored.

    p Since graduating in 2011 I have not had as great an opportunity to explore my own opinions in such depth.  Yes, on a daily basis I assert my right to hold an opinion, however the deeper introspection that came with the work that I did for my degree is something that is lacking in my usual day to day life.  I don't want to go back to the maelstrom of opinions that was Swarthmore for 4 more years, but I would like to have an avenue to explore my thoughts and develop my opinions.

    p Now, getting back to those interesting conversations I've been having.  My friends and I have tend to have a lot of similar leanings, but there are some things that we think very differently on.  These differences lead to discussions/debates/arguments that while they can get somewhat heated (I'm thinking of a conversation that Doug, Travis and I had on gun control), we all respect each other's intelligence enough to realize that it is the other person's opinion that is coming out, not just a repetition of sound bites that they heard on some news channel.  So, because I respect my friends but still hold conflicting opinions on a wide variety of subjects, we have interesting, meaningful conversations about things that may effect us every day, or things that we will never know the answer to.  

    p It is through these conversations with smart people that I have begun to get back to discovering my own thoughts on worthwhile and inconsequential subjects.  Because the people I talk with have such strong opinions, I have to develop my own.  I thoroughly enjoy having moments of revelation while talking with people, but (just like in college) there are other ways of honing my opinions.  That's why I am going to start writing again, not a lot, not every day, possibly not every week, but I want to have an outlet for writing about my opinions, my critiques of things I come across.  So, this website will be that outlet.  I am doing this mostly for myself, but for those of you who come across this, I hope you enjoy it.

    p - Nick
