html
  head
    link(rel="stylesheet", type="text/css", href="/static/reset.css")
    link(rel="stylesheet", type="text/css", href="/static/base.css")
  body
    .main-content
        h1 This is Nick's Home Page
        p Welcome, I hope to add more soon.
